.result-item {
  padding: 5px;
  padding-left: 0;
  border: 1px black;
  width: 100%;
  border-style: solid;
  margin-bottom: 5px;
  background-color: #abcfd2;
  border-radius: 5px;
  color: #e51937;
}

.flt-results-time {
  font-size: 2em;
  padding: 5px;
  padding-left: 0;
}

.flt-results-city-ident {
  padding: 5px;
  padding-left: 0;
  padding-top: 0;
}

.flt-results-item-toprow {
  padding: 5px;
}

.flt-results-middle {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

h2 {
  padding: 0;
}

