@import "variables";
h1.flt-results-title {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 35px;
  background-color: $utopia-dark-secondary;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flt-results-container {
  margin-top: 50px;
  min-height: 90%;
  padding: 10px;

}

.flt-results-table-container {
  background-color: #797c80;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  min-height: 100%;
}

.flt-result-item {
  width: 100%;
  background-color: $utopia-dark-secondary;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  margin-top: 1px;
  box-shadow: 10px 5px 5px black;
}


.flt-results-text-accent {
  color: $utopia-title-text-red;
}

.flt-results-middle-row {
  font-size: 2em;
  padding: 5px;
  padding-left: 0;
}

.flt-results-city-ident {
  padding: 5px;
  padding-left: 0;
  padding-top: 0;
}

.flt-results-middle {
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
}

.flt-results-middle-column {
  padding-right: 5px;
  padding-left: 5px;
}

.flt-results-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: auto 0;
}

.flt-results-list {
  min-height: 800px;
  padding-top: 0;
  padding-bottom: 10px;
}

.flt-results-spinner {
  height: 500px;
  width: 100%;
  margin: 250px auto;
  display: table;
  vertical-align: middle;
}

.flt-results-table-options {
  padding: 10px;
  margin: 0;
  padding-bottom: 0;
  background-color: $utopia-dark-secondary;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-color: black;
}

.flt-results-info-column {
  margin: 80px 10px;
  max-width: 500px;

  max-height: 500px;
}


.mat-form-field-wrapper {
  padding-bottom: .5em;
}

.flt-results-card-title {
  text-align: center;
}

.flt-results-item-top {
  margin-top: auto;
  margin-bottom: 0;
  //margin: 0;
  //height: 20px !important;
}

.flt-results-item-bottom{
  margin-bottom: auto;
  margin-top: 0;
}

.flt-results-item-dialog-btn {
  margin-bottom: 0;
  //height: 30px !important;
}

.flt-results-item-row {
  height: 35px;
}


