@import 'src/styles.scss';

.container {
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.nav-content {
  width: 35vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.error {
  width: 40%;
  padding: 40px;
}

.sidenav {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.list-container {
  padding-top: 0;
  padding-left: 3px;
}

.selected-booking {
  border-left: 6px solid $primary;
}
