<h1 mat-dialog-title>{{ modalData.mode | titlecase }} Traveler</h1>
<div class="mat-dialog-content">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="modalData.traveler.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="modalData.traveler.address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="modalData.traveler.phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="modalData.traveler.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Birth Date</mat-label>
    <input matInput [(ngModel)]="modalData.traveler.dob">
  </mat-form-field>
</div>
<div class="mat-dialog-actions">
  <button mat-button (click)="onSave()">Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>