.center {
  display: flex;
  justify-content: center;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.airport-description {
  word-wrap: break-word;
  white-space: initial;
  line-height: normal;
}

.tile .mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.margin {
  height: 20px;
}
