<mat-progress-bar *ngIf="isPending" mode="indeterminate"></mat-progress-bar>

  <form *ngIf="showForm" class="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <h1  color="accent">Login</h1>

      <!--  email  -->
      <div fxLayout="row" fxLayoutAlign="start" fxLayout.xs="column">
        <mat-form-field class="login-text-field">
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email').errors?.required">required field</mat-error>
          <mat-error *ngIf="loginForm.get('email').errors?.email">invalid email format</mat-error>
        </mat-form-field>
        </div>

      <!-- Password -->
    <div fxLayout="row" fxLayoutAlign="start" fxLayout.xs="column">
      <mat-form-field class="login-text-field">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>

      <!-- Submit -->
      <div>
        <button mat-raised-button  [disabled]="!loginForm.valid"  color="accent">Submit</button>
      </div>

      <h2 *ngIf="this.showLoginMsg">{{this.loginMsg}}</h2>
      </form>

