@import '~@angular/material/theming';

.login-form {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  padding-top: 50px;
}


.login-text-field {
  font-size: large;
  margin-right: 10px;
  padding: 10px;
}
