.container {
  height: calc(100% - 64px);
  padding: 30px;
  margin-bottom: 50px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.inline {
  display: inline;
}

.row {
  display: flex;
}

.half-width {
  width: 45%;
  margin-right: 5%;
}

.margin-top {
  margin-top: 30px;
  padding-bottom: 60px;
}

.error {
  color: red;
}

.spacer {
  flex-grow: 1;
}
