<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-logo-home-button></app-logo-home-button>
    <button *ngIf="isAuthenticated()" mat-button routerLink="booking/flight">Flight Search</button>
    <button *ngIf="isAuthenticated()" mat-button routerLink="manage-bookings">Manage Bookings</button>
    <div class="spacer"></div>
    <button *ngIf="isAuthenticated()" mat-button routerLink="login" (click)="logoutClick()" >logout</button>
    <button *ngIf="!isAuthenticated()" mat-button routerLink="signup">Signup</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
