<mat-card>
  <mat-card-title><h1>Flight Details</h1> </mat-card-title>
   <mat-card-content>
     <ng-container *ngFor="let flightHops of data; let i = index">
    <div>
      <p class="tile">Flight Number: {{data[i].flightDetails.flightNumber}}
        <p>Departure: {{data[i].flightDetails.departCityId}}
          {{data[i].departTime | date:'EEEE, MMMM d HH:MM' }}</p>
      <p>Arrival: {{data[i].flightDetails.arriveCityId}}
          {{data[i].arrivalTime | date:'EEEE, MMMM d HH:MM' }}</p>
      <p>Seats Available: {{data[i].seatsAvailable}}</p>
      <p>Price: ${{data[i].price}}</p>
    </div>
    </ng-container>
  </mat-card-content>
</mat-card>
