@import 'src/styles.scss';

.container {
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 40%;
  padding: 40px;
}

.list-container {
  padding-top: 0;
  padding-left: 3px;
}

.selected-booking {
  border-left: 6px solid $primary;
}

.grow {
  flex: 1 1 auto;
}
