.container {
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 5%;
  margin-bottom: 30px;
  max-width: 100%;
}

.airport-description {
  word-wrap: break-word;
  white-space: initial;
  line-height: normal;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.dropdown {
  font-size: large;
}

.full {
  height: 100%;
  width: 100%;
}

.large-font {
  font-size: large;
}

.picker {
  width: 1px;
  height: 1px;
  position: relative;
  top: -51px;
  visibility: hidden;
}

.search-button {
  padding-left: 50px;
  padding-right: 50px;
}
