<form [formGroup]="dateForm">

<div class="container" fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-sm="column">

  <!-- Origin Airport Button -->
  <div fxFlex="30" fxFlex.lt-md="45">
    <button mat-button class="button full" (click)="openOriginModal()">
      <div class="large-font">{{ originAirport.iataIdent }}</div>
      <div class="airport-description">{{originAirport.city}}</div>
    </button>
  </div>

  <!-- Destination Airport Button -->
  <div fxFlex="30" fxFlex.lt-md="45">
    <button mat-button class="button full" (click)="openDestinationModal()">
      <div class="large-font">{{ destinationAirport.iataIdent }}</div>
      <div class="airport-description">{{destinationAirport.city}}</div>
    </button>
  </div>

  <!-- Round Trip / One Way Dropdown -->
  <div fxFlex="30" fxFlex.lt-md="45" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="dropdown">
      <mat-select [(value)]="selectedTripType" (valueChange)="onTripChange()">
        <mat-option *ngFor="let tripType of tripTypes" [value]="tripType">
          {{tripType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template [ngIf]="selectedTripType === TripType.ROUND_TRIP" [ngIfElse]="oneWay">
    <!-- Round Trip Datepicker -->
    <div fxFlex="30" fxFlex.lt-md="45">
      <button mat-button (click)="picker.open()" class="full large-font">
        {{ (departDate.value | date:'MMM d') || 'Depart' }} - 
        {{ (returnDate.value | date:'MMM d') || 'Return Date' }}
      </button>
      <mat-form-field class="dropdown picker">
        <mat-label>Depart Date - Return Date</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="today">
          <input matStartDate formControlName="departDate">
          <input matEndDate formControlName="returnDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <!-- Required Date Error -->
        <mat-error *ngIf="departDate.invalid || returnDate.invalid">
          You must provide a depart and return date.
        </mat-error>

      </mat-form-field>
    </div>
  </ng-template>

  <!-- One Way Datepicker -->
  <ng-template #oneWay>
    <div fxFlex="30" fxFlex.lt-md="45">
      <button mat-button (click)="picker.open()" class="full large-font">
        {{ (departDate.value | date:'MMM d') || 'Depart Date' }}
      </button>
      <mat-form-field class="dropdown picker">
        <mat-label>Depart Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="today" formControlName="departDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <!-- Required Date Error -->
        <mat-error *ngIf="departDate.invalid">
          You must provide a date.
        </mat-error>

      </mat-form-field>
    </div>
  </ng-template>

  <!-- Passengers Dropdown -->
  <div fxFlex="30" fxFlex.lt-md="45" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="dropdown">
      <mat-label>Passengers</mat-label>
      <mat-select [(value)]="selectedPassengers">
        <mat-option *ngFor="let passenger of passengers" [value]="passenger">
          {{passenger}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Search Button -->
  <div fxFlex="30" fxFlex.lt-md="45" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="onFlightSearch()" [routerLink]="'results'" [disabled]="dateForm.invalid" type="button" class="search-button">
      Search
      <mat-icon>search_rounded</mat-icon>
    </button>
  </div>

</div>

</form>
